# Storefront Configuration
# Toggle between Mock Fixtures (true) or Live SAP Commerce Cloud OCC (false)
NEXT_PUBLIC_USE_MOCK_DATA=true

# SAP Commerce OCC Endpoints (Used when NEXT_PUBLIC_USE_MOCK_DATA=false)
NEXT_PUBLIC_OCC_BASE_URL=https://localhost:9002
NEXT_PUBLIC_OCC_PREFIX=/occ/v2/
NEXT_PUBLIC_OCC_BASE_SITE=electronics-spa
NEXT_PUBLIC_OCC_CLIENT_ID=mobile_android
NEXT_PUBLIC_OCC_CLIENT_SECRET=secret

# CMS & SmartEdit
NEXT_PUBLIC_SMARTEDIT_ENABLED=false
